---
# clang-format version 15.0.0 (from npm)

Language: Cpp

# 首要样式
IndentWidth: 4
UseTab: Never
TabWidth: 4
UseCRLF: false
ColumnLimit: 160
MaxEmptyLinesToKeep: 1
PointerAlignment: Right

# 对齐方式
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
AlignEscapedNewlinesLeft: true

# 换行设置
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: No

# 括号风格
BreakBeforeBraces: Linux

# 对#include进行排序的规则
IncludeBlocks: Preserve 
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*\.hpp>'
    Priority: 2
  - Regex: '^".*\.h"'
    Priority: 1
  - Regex: '^".*\.hpp"'
    Priority: 1
  - Regex: '.*'
    Priority: 3
  - Regex: '^<bits/.*>'
    Priority: 4
  - Regex: '^<.*>'
    Priority: 5
SortIncludes: true

# 缩进
ContinuationIndentWidth: 4
BreakBeforeBinaryOperators: None
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: BeforeHash

# 空格
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 4
# SpacesInParens: Never
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: true

# 其他
