# Prerequisites
*.d
!init.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# bin file
mpp/sample/LOTO_RTMP/loto_rtmp
rtmp_pack/kit/root/loto_rtmp

# Compressed file
rtmp_pack.tgz

# essential lib
!mpp/lib/*/*.a
!mpp/lib/*/*.so*
!mpp/sample/librtmp/librtmp.a
!mpp/sample/openssl-1.0.1p/arm/lib/libssl.a
!mpp/sample/openssl-1.0.1p/arm/lib/libcrypto.a
!mpp/sample/zlib-1.2.8/arm/lib/libz.a
!/rtmp_pack/kit/lib/rtmp_lib/*
!**/metaRTC/**/*.a